<section class="first">
<div class="content">
  <h1>Who I'm</h1>
  <p>I'm Pere Urbón, a seasoned software developer from Barcelona living in Berlin, Germany. With more than 10 years 
  of experience shiping sofware in many different environments, from top research projects to startup's.Using Ruby, Java, Javascript, NoSQL databases (graphdb's) and many other technologies I can help your organization and 
  project to archive your goal.</p>
  <p>I also enjoy meetups, conferences and being an speaker.</p>
  <ul class="social">
    <li class="github">
    <a href="https://github.com/purbon" original-title="GitHub">
      <div class="img_wrapper">
        <%= image_tag('github.png') %>
      </div>
    </a>
    </li>
    <li class="twitter">
    <a href="https://twitter.com/purbon" original-title="Twitter">
      <div class="img_wrapper">
        <%= image_tag('twitter.png') %>
      </div>
    </a>
    </li>
    <li class="linkedin">
    <a href="http://www.linkedin.com/in/purbon" original-title="Linkedin">
      <div class="img_wrapper">
        <%= image_tag('linkedin.png') %>
      </div>
    </a>
    </li>
    <li class="xing">
    <a href="http://www.xing.com/profile/Pere_UrbonBayes2" original-title="Xing">
      <div class="img_wrapper">
        <%= image_tag('xing.jpg') %>
      </div>
    </a>
    </li>
  </ul>
</div>
</section>

<section id="profile" class="white">
<div class="content">
<h1>Profile</h1>
<div class="column">
  <%= image_tag('carpintery.png') %>
  <h3>Software Carpitenry</h3>
  <p>With an special emphasis on delivering a product that fulfills 
     your requirements, with high quality and involving your during 
     the process. I strongly bealive this is the way to archive a high 
     quality project.</p>
  </p>
</div>
<div class="column">
  <%= image_tag('databases.png') %>
  <h3>NoSQL Engineering</h3>
  <p>NoSQL or BigData is a trend righ now, but I've been involved since 2006
     in projects with object databases, and later with graph, document and others. I can help 
     you organization to deal with your data issues using the best tool for it.
  </p>
</div>
<div class="column">
  <%= image_tag('consulting.png') %>
  <h3>Consulting</h3>
  <p> I can help your organization dealing with best practices amoung
      software development or database engineering, fields I enjoy and where I've
      extensive experience.</p>
</div>
</div>
</section>
<section id="experiences" class="blue">
<div class="content">
  <h1>Experiences</h1>
  <p>I'd the pleasue of working for companyies like:</p>
    <div class="experience"><%= image_tag('moviepilot.jpeg') %> </div>
    <div class="experience"><%= image_tag('upc.gif') %> </div>
    <div class="experience"><%= image_tag('belectric.jpg') %> </div>
    <div class="experience"><%= image_tag('clinic.jpg' ) %> </div>
    <div class="experience"><%= image_tag('uab.jpg' ) %> </div>    
    <div class="experience"><%= image_tag('mpm.jpg' ) %> </div>    
  </ul>
</div>
</section>
<section id="contactme" class="white">
<div class="content">
  <h1>Contact me!</h1>
  <p class="contact"> <a href="mailto:purbon purbon dot com">purbon at purbon dot com</a>
</div>
</section>
