<section class="first blue content" >
<div class="row">
  <div class="small-12 small-centered columns"><h1>pere urbon-bayes</h1></div>
</div>
<div class="row">
  <div class="small-6 columns">
    <div class="photo"><%= image_tag('purbon.jpg') %>
    <ul class="social small-block-grid-4">
      <li>
      <a href="https://github.com/purbon" original-title="GitHub">
        <div class="img_wrapper">
          <%= image_tag('github.png') %>
        </div>
      </a>
      </li>
      <li>
      <a href="https://twitter.com/purbon" original-title="Twitter">
        <div class="img_wrapper">
          <%= image_tag('twitter.png') %>
        </div>
      </a>
      </li>
      <li>
      <a href="http://www.linkedin.com/in/purbon" original-title="Linkedin">
        <div class="img_wrapper">
          <%= image_tag('linkedin.png') %>
        </div>
      </a>
      </li>
      <li>
      <a href="http://www.xing.com/profile/Pere_UrbonBayes2" original-title="Xing">
        <div class="img_wrapper">
          <%= image_tag('xing.jpg') %>
        </div>
      </a>
      </li>
    </ul>
  </div>
</div>
<div class="small-6 columns">  
  <%= t('whoim_text').html_safe  %>
  <a href="mailto:pere.urbon at gmail dot com" class="button [secondary alert success]" ><%= t('contactme') %></a>
</div>
</div>
</section>
<section id="profile" class="white">
<div class="row">
  <div class="small-12 small-centered columns"><h1><%= t('whoim') %></h1></div>
</div>
<div class="row">
  <div class="small-4 columns column"><ul class="no-bullet"><li><%= image_tag('carpintery.png') %></li><li><h3><%= t('software_carpitenry').html_safe %></h3></li></ul></div>
  <div class="small-4 columns column"><ul class="no-bullet"><li><%= image_tag('databases.png') %></li><li><h3><%= t('nosql_engineering').html_safe %></h3></li></ul></div>
  <div class="small-4 columns column"><ul class="no-bullet"><li><%= image_tag('consulting.png') %></li><li><h3><%= t('consulting').html_safe %></h3></li></ul></div>
</div>
<div class="row">
  <div class="small-12 small-centered columns">
    <%= t('experiences_text').html_safe  %>
  </div>
</div>
</section>
