<table style="width:100%; border:0">
  <tr>
    <td><%= image_tag('carpintery.png') %><h3><%= t('software_carpitenry').html_safe %></h3></td>
    <td><%= image_tag('databases.png') %><h3><%= t('data_engineering').html_safe %></h3></td>
    <td><%= image_tag('consulting.png') %><h3><%= t('consulting').html_safe %></h3></td>
  </tr>
</table>


<%= t('experiences_text').html_safe  %>

