<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <title><%= content_for?(:title) ? yield(:title) : "Pere Urbon-Bayes" %></title>

    <link rel="icon" type="image/png" href="images/favicon.png">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <h1> Pere Urbon-Bayes </h1>
      <ul class="menu">
        <li class=""><a href="?locale=en#"><%= image_tag 'England.png'%></a></li>
        <!--<li class=""><a href="?locale=de#"><%= image_tag 'Germany.png'%></a></li>-->
        <li class=""><a href="?locale=ca#"><%= image_tag 'Catalan.png'%></a></li>
      </ul>
    </div>
    <div id="body">

      <div class="container">
        <div class="row">
        <div class="one-third column right-bar">
          <p><%= t('whoim_text').html_safe  %></p>

          <ul class="no-bullet">
            <li class=""><a href="http://words.purbon.com">Writings</a></li>
            <li class=""><%= link_to t('cv'), cv_path %></li>
          </ul>

          <h3> Elsewhere </h3>

          <%= link_to t('contactme'), contactme_path, :class => "button [secondary alert success]" %>
        </div>
         <div class="two-thirds column">
            <%= yield %>
         </div> 
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-46127585-2']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
  </script>
</html>
