<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <title><%= content_for?(:title) ? yield(:title) : "Pere Urbon-Bayes" %></title>

    <link rel="icon" type="image/png" href="images/favicon.png">

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <h1><%= link_to 'Pere Urbon-Bayes', root_path %></h1>        

      <ul class="menu">
        <li class=""><a href="?locale=en#"><%= image_tag 'England.png'%></a></li>
        <!--<li class=""><a href="?locale=de#"><%= image_tag 'Germany.png'%></a></li>-->
        <li class=""><a href="?locale=ca#"><%= image_tag 'Catalan.png'%></a></li>
      </ul>
    </div>
    <div id="body">

      <div class="container">
        <div class="row">
          <div class="five columns right-bar">
              <div class="row">
                <div class="one-third column">
                  <%= image_tag('purbon_head_small.jpg', size: "105x158") %>
                </div>
                <div class="eight columns whoim">
                  <%= t('whoim_text').html_safe  %>
                </div>
              </div>
              <h4> Key Skills </h4>
              <%= t('key_skills').html_safe  %>

              <h4> Links </h4>

              <ul class="no-bullet">
                <li class=""><a href="http://words.purbon.com">Writings</a></li>
                <li class=""><%= link_to t('cv'), cv_path %></li>
                <li class=""><%= link_to t('slides'), slides_path %></li>
              </ul>

              <h4> Elsewhere</h4>

              <ul class="no-bullet social">
                <li>
                  <%= image_tag("github.png", size: "16x16") %>  <a href="https://github.com/purbon" original-title="Github"> Github</a>
                </li>
                <li>
                  <%= image_tag("twitter.png", size: "16x16") %>  <a href="https://twitter.com/purbon" original-title="Twitter"> Twitter</a>
                </li>
                <li>
                  <%= image_tag("linkedin.png", size: "17x16") %>  <a href="http://www.linkedin.com/in/purbon" original-title="Linkedin"> Linkedin</a>
                </li>
                <li>
                  <%= image_tag("xing.jpg", size: "16x16") %>  <a href="http://www.xing.com/profile/Pere_UrbonBayes2" original-title="Xing"> Xing</a>
                </li>
              </ul>


              <%= link_to t('contactme'), contactme_path, :class => "button [secondary alert success]" %>
            </div>
            <div class="seven columns">
              <%= yield %>
            </div> 
          </div>
        </div>
      </div>
  </body>
  <script type="text/javascript">

var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-46127585-2']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
  </script>
</html>
