<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href='http://fonts.googleapis.com/css?family=Exo:400,500,700' rel='stylesheet' type='text/css'>

    <title><%= content_for?(:title) ? yield(:title) : "Pere Urbon-Bayes" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="sticky">
      <nav class="top-bar" data-topbar data-options="">
      <ul class="title-area">
        <li class="name"><h1><%= link_to 'Pere Urbon-Bayes', root_path %></h1></li>
      </ul>
      <section class="top-bar-section">
      <ul class="left">
        <li class=""><a href="?locale=en#"><%= image_tag 'England.png'%></a></li>
        <li class=""><a href="?locale=de#"><%= image_tag 'Germany.png'%></a></li>
        <li class=""><a href="?locale=ca#"><%= image_tag 'Catalan.png'%></a></li>
      </ul>
      <ul class="right">
        <li class=""><a href="http://words.purbon.com">Writings</a></li>
        <li class=""><%= link_to t('profile'), root_path(anchor: 'profile') %></li>
        <li class=""><%= link_to t('cv'), cv_path %></li>
        <li class=""><%= link_to t('contactme'), contactme_path %></li>
      </ul>
      </section>
      </nav>
    </div>
    <div id="body">
      <%= yield %>
      <%= javascript_include_tag "application" %>
      <section class="credits blue">
      © 2013 purbon.com
      </section>
    </div>
  </body>
  <script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-46127585-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</html>
